PORT= # Gin application port that you want to run on eg. :3000, :5000, :8080.
DB_URL= # DB_URL eg. (for MySQL) <username>:<password>@tcp(127.0.0.1:3306)/<database name>?charset=utf8mb4&parseTime=True&loc=Local

DB_HOST=# tcp mysql eg. 127.0.0.1
DB_PORT= # your PORT eg.3306
DB_USER=# your usernamemysql username eg.root
DB_PASSWORD=# your passwordmysql
DB_NAME=# database name